:root {
    --h1-font-size: 4rem;
    --h2-font-size: 2.75rem;
    --h3-font-size: 2rem;
    --h4-font-size: 1.5rem;
    --big-font-size: 1.5rem;
    --normal-font-size: 1.25rem;
    --small-font-size: 1.05rem;
    --smaller-font-size: 0.8rem;
    --big-space: 2rem;
    --medium-space: .5rem;
    --primary-color: rgb(27, 54, 1);
    --primary-color-alt: black;
    --bg-color: rgb(27, 27, 27);
    --green-color: rgb(0, 255, 0);
    --tittle-color: rgb(227, 227, 1);
    --text-color: rgb(142, 175, 0);
    --header-heigth: 5rem;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Roboto;
}

html {
    font-size: 12px;
}

@media screen and (min-width: 900px) {
    html {
        font-size: 16px;
    }    
}

.contenedor-seccion {
    margin-bottom: 4.6rem;
}
.contenedor-seccion:not(.banner-principal, .sobre-nosotros) {
    padding-left: 9.20%;
    padding-right: 9.20%;
}

.titulo {
    letter-spacing: 0.02em;
    font-weight: 500;
    margin: 0;
    margin-bottom: .9em;
}

body {
    margin: 0;
    padding: 0;
    padding-top: var(--header-heigth);
    background-color: var(--bg-color);
}

.boton-enlace {
    display: inline-block;
    padding: 1rem;
    border: 2px solid;
    border-radius: 2rem;
    font-size: var(--normal-font-size);
    font-weight: 400;
    text-decoration: none;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

/*

HEADER

*/

.cabecera-principal {
    position: fixed;
    height: var(--header-heigth);
    background-color: rgb(18, 23, 26);
    top: 0;
    width: 100%;
    z-index: 10;
}

.cabecera-principal .contenedor {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    height: var(--header-heigth);
    white-space: nowrap;
}

.cabecera-principal .contenedor a img {
    display: block;
    height: var(--header-heigth);
}

/* boton para activar el menu desplegable */
.boton-interruptor-menu {
    display: block;
    width: var(--header-heigth);
    background-image: radial-gradient(rgb(12, 177, 177) 50%, green 75%);
    grid-column: 3;
    border-radius: 50%;
    z-index: 99;
    justify-self: end;
}

@media screen and (min-width: 900px) {
    .boton-interruptor-menu {
        grid-column: 2;
    }
}
.boton-interruptor-menu {
    display: block;
    width: var(--header-heigth);
    background-image: radial-gradient(rgb(12, 177, 177) 50%, green 75%);
    grid-column: 3;
    border-radius: 50%;
    z-index: 99;
    justify-self: end;
}

.boton-interruptor-menu:hover {
    background-image: radial-gradient(rgb(12, 177, 177) 45%, green 70%);    
}

.boton-interruptor-menu:active {
    background-image: radial-gradient(rgb(5, 126, 126) 40%, rgb(6, 90, 17) 75%);
}

/* menu despelgable */
.cabecera-principal .contenedor .menu-principal {
    display: none;
    position: relative;
    background-color: rgba(6, 80, 37, 0.8);
    z-index: 98;
}

.cabecera-principal .contenedor .menu-principal.esta-activo {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cabecera-principal .contenedor .menu-principal ul {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.cabecera-principal .contenedor .menu-principal ul li a {
    text-decoration: none;
    color: rgb(52, 209, 0);
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: var(--big-space);
    padding-bottom: var(--big-space);
    font-size: var(--h3-font-size);
    font-weight: 500;
}

.cabecera-principal .contenedor .menu-principal ul li a:hover {
    text-decoration: none;
    background-color: rgba(97, 6, 187, 0.5);
    display: block;
    font-weight: 500;
    color: var(--green-color);
}


@media screen and (min-width: 900px) {
    /* boton para activar el menu desplegable */
    .boton-interruptor-menu {
        display: none;
    }
    
    /* el menu se adapta a resolucion de 900px para adelante*/
    .cabecera-principal .contenedor .menu-principal.esta-activo {
        display: block;
        justify-content: center;
        grid-column: 3;
        background-color: inherit;
        position: initial;
    }

    /* menu del header que reemplaza al menu desplegable en resoluciones a partir de 900px */
    .cabecera-principal .contenedor .menu-principal {
        display: block;
        justify-content: center;
        grid-column: 3;
        background-color: inherit;
    }

    .cabecera-principal .contenedor .menu-principal ul {
        grid-template-columns: repeat(4, auto);
        grid-template-rows: 1fr;
        height: var(--header-heigth);
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: 0;
        justify-content: space-evenly;
        align-content: center;
    }

    .cabecera-principal .contenedor .menu-principal ul li {
        text-decoration: none;
        border: 0;
    }

    .cabecera-principal .contenedor .menu-principal ul li a {
        text-decoration: none;
        display: initial;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0;
        font-size: var(--normal-font-size);
        font-weight: 500;
    }

    .cabecera-principal .contenedor .menu-principal ul li a:hover {
        text-decoration: none;
        background-color: inherit;
        display: initial;
        font-weight: 500;
        color: green;
    }

}

/*

SECCION BANNER PRINCIPAL 

*/

.banner-principal .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--primary-color);
    align-items: center;
    height: inherit;
}

@media screen and (min-width: 900px) {
    .banner-principal .contenedor {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
    }
}

.banner-principal .contenedor .contenido {
    padding: var(--big-space);
    text-align: center;
}

.banner-principal .titulo {
    color: var(--green-color);
    font-size: var(--h1-font-size);
}

.banner-principal .texto {
    color: var(--green-color);
    font-size: var(--big-font-size);
}

.banner-principal .contenedor .contenedor-imagen img {
    display: block;
    width: 100%;
    height: 100%;
}

.banner-principal .boton-enlace {
    color: var(--primary-color-alt);
    background-color: var(--green-color);
    border-color: var(--green-color);
    font-weight: 500;
}

.banner-principal .boton-enlace:hover {
    color: var(--green-color);
    background-color: var(--primary-color-alt);
    border-color: var(--primary-color-alt);
}

/*

SECCION NUESTROS SERVICIOS

*/

.nuestros-servicios {
    text-align: center;
}

.nuestros-servicios .titulo {
    color: var(--tittle-color);
    font-size: var(--h2-font-size);
}

.nuestros-servicios .texto {
    color: var(--text-color);
    font-size: var(--small-font-size);
}

.nuestros-servicios .servicio .titulo {
    color: var(--tittle-color);
    font-size: var(--h3-font-size);
}

.nuestros-servicios .contenedor {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

@media screen and (min-width: 900px) {
    .nuestros-servicios .contenedor {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
}

.nuestros-servicios .servicio .icono img {
    display: block;
    width: 27%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/*

SECCION SOBRE NOSOTROS

*/

.sobre-nosotros {
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1588200908342-23b585c03e26?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.sobre-nosotros div {
    background-color: rgba(2, 26, 18, 0.27);
}

.sobre-nosotros .titulo {
    color: var(--green-color);
    font-size: var(--h2-font-size);
}

.sobre-nosotros .texto {
    color: var(--green-color);
    font-size: var(--normal-font-size);
}

.sobre-nosotros .boton-enlace {
    color: var(--green-color);
    border-color: var(--green-color);
}

.sobre-nosotros .boton-enlace:hover {
    color: var(--green-color);
    border-color: var(--green-color);
    background-color: var(--primary-color-alt);
}

/*

SECCION ULTIMOS PROYECTOS

*/

.ultimos-proyectos {
    text-align: center;
}

.ultimos-proyectos .titulo {
    color: var(--tittle-color);
    font-size: var(--h2-font-size);
    margin: 0;
    padding-top: var(--big-space);
    padding-bottom: var(--big-space);
}

.ultimos-proyectos .contenedor {
    display: grid;
    gap: var(--big-space);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

@media screen and (min-width: 900px) {
    .ultimos-proyectos .contenedor {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
}

.ultimos-proyectos .contenedor .proyecto {
    display: block;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.ultimos-proyectos .proyecto article {
    position: relative;
}

.ultimos-proyectos .proyecto .titulo{
    color: var(--green-color);
    font-size: var(--h4-font-size);
    margin: 0;
    padding: var(--medium-space);
    padding-bottom: 0;
}

.ultimos-proyectos .proyecto .texto {
    color: var(--green-color);
    font-size: var(--smaller-font-size);
}

.ultimos-proyectos .proyecto .contenido {
    position: absolute;
    display: grid;
    gap: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(60, 2, 175, 0.6);
    opacity: 0;
    transition: 0.27s linear;
    align-items: center;
}

.ultimos-proyectos .proyecto .contenido:hover {
    opacity: 1;
}

.ultimos-proyectos .proyecto .contenido .titulo,
.ultimos-proyectos .proyecto .contenido .texto {
    margin: 0;
    padding: 0;
}

.ultimos-proyectos .proyecto .contenedor-imagen {
    z-index: -10;
}

.ultimos-proyectos .proyecto .contenedor-imagen img {
    display: block;
    width: 100%;
    height: auto;
    position: initial;
}


/*

SECCION QUIERES TRABAJAR CON NOSOTROS

*/

.trabaja-con-nosotros {
    text-align: center;
}

.trabaja-con-nosotros .titulo {
    color: var(--tittle-color);
    font-size: var(--h2-font-size);
}

.trabaja-con-nosotros .texto {
    color: var(--text-color);
    font-size: var(--normal-font-size);
}

.trabaja-con-nosotros .boton-enlace {
    color: var(--green-color);
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    font-weight: 500;
}

.trabaja-con-nosotros .boton-enlace:hover {
    background-color: var(--primary-color-alt);
}

/*

FOOTER PRINCIPAL

*/

.footer-principal {
    color: var(--text-color);
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.footer-principal .texto {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: var(--smaller-font-size);
}


/* 

PAGINA QUIENES SOMOS

*/

/* .quienes-somos {

} */

.quienes-somos .titulo {
    color: var(--tittle-color);
    font-size: var(--h1-font-size);
    text-align: center;
}

.quienes-somos .contenedor .titulo {
    font-size: var(--h2-font-size);
    text-align: left;
    margin: 0;
}

.quienes-somos .contenedor .texto {
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

.quienes-somos .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4rem;
}

@media screen and (min-width: 900px) {
    .quienes-somos .contenedor {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.quienes-somos .contenedor article {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--big-space);
}    

@media screen and (min-width: 900px) {
    .quienes-somos .contenedor article {
        grid-template-columns: 1fr 1fr;
    }
}

.quienes-somos .contenedor article div:first-child {
    grid-row: 2;
}

.quienes-somos .contenedor article div:last-child {
    grid-row: 1;
}

@media screen and (min-width: 900px) {
    .quienes-somos .contenedor article div:first-child {
        grid-column: 2;
        grid-row: 1;
    }
    
    .quienes-somos .contenedor article div:last-child {
        grid-column: 1;
        grid-row: 1;
    }

    .quienes-somos .contenedor article:nth-child(even) div:first-child {
        grid-column: 1;
    }
    
    .quienes-somos .contenedor article:nth-child(even) div:last-child {
        grid-column: 2;
    }
}
.quienes-somos .contenedor .contenedor-imagen img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1rem;
}    

/* 

PAGINA PROYECTOS

*/

.todos-los-proyectos {
    text-align: center;
}


.todos-los-proyectos .titulo {
    font-size: var(--h1-font-size);
    color: var(--tittle-color);
    margin: 0;
    padding-top: calc(var(--big-space / 2));
    padding-bottom: var(--big-font-size);
}

.todos-los-proyectos .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--big-font-size);
}

@media screen and (min-width: 900px) {
    .todos-los-proyectos .contenedor {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.todos-los-proyectos .proyecto {
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    grid-template-columns: 1fr;
    box-shadow: 0.1rem 0.1rem 0.2rem rgb(4, 184, 55);

}

.todos-los-proyectos .proyecto .contenido {
    text-align: left;
    padding-left: var(--medium-space);
    padding-right: var(--medium-space);
    background-color: rgb(13, 34, 7);
    padding-bottom: 1.5rem;
    border-radius: 0 0 1rem 1rem / 0 0 1rem 1rem;
}

.todos-los-proyectos .proyecto .titulo {
    font-size: var(--h3-font-size);
    color: var(--tittle-color);
    padding-top: 1rem;
    padding-bottom: var(--medium-space);
}

.todos-los-proyectos .proyecto .texto {
    font-size: var(--small-font-size);
    color: var(--text-color);
    margin-top: var(--medium-space);
    margin-bottom: 1.5rem;
}

.todos-los-proyectos .proyecto a {
    display: inline-block;
    font-size: var(--small-font-size);
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: var(--green-color);
    margin: 0rem;
}
.todos-los-proyectos .proyecto a:hover {
    text-decoration: underline;
}

.todos-los-proyectos .proyecto .contenedor-imagen img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem 1rem 0 0 / 1rem 1rem 0 0;
}

/* 

PAGINA CONTACTO

*/

.contacto {
    padding-top: var(--big-space);
    margin-bottom: calc(var(--big-space) * 2);
}

.contacto .titulo {
    font-size: var(--h1-font-size);
    color: var(--tittle-color);
    text-align: center;
    margin: 0;
    margin-bottom: 3rem;
}

.contacto div .titulo {
    font-size: var(--h3-font-size);
    text-align: left;
    margin-bottom: 0.9rem;
}

.contacto address .titulo {
    font-size: var(--h4-font-size);
    text-align: left;
    font-style: normal;
}

.contacto address .texto {
    margin: 0;
    font-size: var(--small-font-size);
}

.contacto address .texto a {
    color: var(--green-color);
    font-style: normal;
}

.contacto .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--big-space);
    margin-left: 9%;
    margin-right: 9%;
}

.contacto .contenedor .titulo,
.contacto .contenedor .texto {
    text-align: center;
}

@media screen and (min-width: 900px) {
    .contacto .contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--big-space);
        margin-left: 9%;
        margin-right: 9%;
    }
    
    .contacto .contenedor div {
        grid-column: 2;
        grid-row: 1;
    }

    .contacto .contenedor .titulo,
    .contacto .contenedor .texto {
    text-align: left;
}
}

.contacto .contenedor address {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: var(--big-space);
}

.contacto .contenedor address div {
    grid-column: initial;
    grid-row: initial;
}

.contacto .contenedor address .texto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--medium-space);
}

@media screen and (min-width: 900px) {
    .contacto .contenedor address .texto {

        justify-content: initial;

    }
    
}

.contacto .contenedor address .icono img {
    height: var(--normal-font-size);
    display: block;
}
