:root {
    --h1-font-size: 4rem;
    --h2-font-size: 2.8rem;
    --h3-font-size: 2.4rem;
    --h4-font-size: 2.09rem;
    --big-font-size: 2rem;
    --normal-font-size: 1.9rem;
    --small-font-size: 1.75rem;
    --smaller-font-size: 1.6rem;
    --big-space: 2rem;
    --medium-space: .5rem;
    --primary-color: rgb(27, 54, 1);
    --primary-color-alt: black;
    --bg-color: rgb(27, 27, 27);
    --green-color: rgb(0, 255, 0);
    --tittle-color: rgb(227, 227, 1);
    --text-color: rgb(142, 175, 0);
    --header-heigth: 5rem;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Roboto;
}

html {
    font-size: 8px;
}

@media screen and (min-width: 400px) {
    html {
        font-size: 12px;
    }    
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 16px;
    }    
}

.contenedor-seccion {
    margin-bottom: 6.4rem;
}
.contenedor-seccion:not(.banner-principal, .sobre-nosotros) {
    padding-left: 9.20%;
    padding-right: 9.20%;
}

.titulo {
    letter-spacing: 0.02em;
    font-weight: 500;
    margin: 0;
    margin-bottom: .9em;
}

body {
    margin: 0;
    padding: 0;
    padding-top: var(--header-heigth);
    background-color: var(--bg-color);
}

.boton-enlace {
    display: inline-block;
    padding: 1rem;
    border: 2px solid;
    border-radius: 2rem;
    font-size: var(--normal-font-size);
    font-weight: 400;
    text-decoration: none;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}