:root {
  --h1-font-size: 4rem;
  --h2-font-size: 2.8rem;
  --h3-font-size: 2.4rem;
  --h4-font-size: 2.09rem;
  --big-font-size: 2rem;
  --normal-font-size: 1.9rem;
  --small-font-size: 1.75rem;
  --smaller-font-size: 1.6rem;
  --big-space: 2rem;
  --medium-space: .5rem;
  --primary-color: #031a03;
  --primary-color-alt: #031a1aee;
  --bg-color: #191f19;
  --green-color: #18d318;
  --title-color: rgb(255, 255, 255);
  --text-color: #afb5af;
  --header-heigth: 5rem;
  //color base con 9 shades y 9 tints:
  //#22E622 primario
  //#181A18 gris
  //#22e6e6 secundario

}