@use "../mixins/theme-colors";

:root {
  --h1-font-size: 4rem;
  --h2-font-size: 2.8rem;
  --h3-font-size: 2.4rem;
  --h4-font-size: 2.09rem;
  --big-font-size: 2rem;
  --normal-font-size: 1.9rem;
  --small-font-size: 1.75rem;
  --smaller-font-size: 1.6rem;
  --big-space: 2rem;
  --medium-space: .5rem;
  --header-heigth: 5rem;

  @media (prefers-color-scheme: dark) {
    @include theme-colors.dark
  }
  
  @media (prefers-color-scheme: light) {
    @include theme-colors.light
  }
}