/* 

PAGINA PROYECTOS

*/

.todos-los-proyectos {
    text-align: center;

    .titulo {
        font-size: var(--h1-font-size);
        color: var(--title-color);
        margin: 0;
        padding-top: calc(var(--big-space / 2));
        padding-bottom: var(--big-font-size);
    }
    
    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--big-font-size);
    }
    
    @media screen and (min-width: 900px) {
        .contenedor {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

