/* 

PAGINA CONTACTO

*/

.contacto {
  padding-top: var(--big-space);
  margin-bottom: calc(var(--big-space) * 2);
  color: var(--title-color);

  & > .titulo {
    font-size: var(--h1-font-size);
    text-align: center;
    margin-bottom: 3rem;
  }

  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--big-space);
    text-align: center;

    @media screen and (min-width: 900px){
      text-align: left;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--big-space);
      margin-left: 9%;
      margin-right: 9%;
    }
    
    .titulo {
      margin-bottom: 0.9rem;
    }
  }

  .formulario {
    @media screen and (min-width: 900px) {
      grid-column: 2;
      grid-row: 1;
    }

    .titulo {
      font-size: var(--h3-font-size);
      margin-bottom: 0.9rem;
    }
  }
  
  address {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: var(--big-space);

    .titulo {
      font-size: var(--h4-font-size);
      font-style: normal;
    }

    .texto {
      font-size: var(--small-font-size);
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: var(--medium-space);

      @media screen and (min-width: 900px) {
        justify-content: initial;
      }
    }
    
    .enlace {
      color: var(--green-color);
      font-style: normal;
    }
  }
  
  .map-ubcation {
    width: 100%;
  }

  .icono svg {
    height: var(--normal-font-size);
    display: block;
  }
}
