/*

SECCION SOBRE NOSOTROS

*/

.sobre-nosotros {
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.sobre-nosotros div {
    background-color: var(--primary-color-alt);
}

.sobre-nosotros .titulo {
    color: var(--green-color);
    font-size: var(--h2-font-size);
}

.sobre-nosotros .texto {
    color: var(--green-color);
    font-size: var(--normal-font-size);
}

.sobre-nosotros .boton-enlace {
    color: var(--green-color);
    border-color: var(--green-color);
}

.sobre-nosotros .boton-enlace:hover {
    color: var(--green-color);
    border-color: var(--green-color);
    background-color: var(--primary-color-alt);
}