/*

SECCION BANNER PRINCIPAL 

*/

.banner-principal {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--primary-color);
    align-items: center;
    height: inherit;

    @media screen and (min-width: 900px) {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
    }

    .contenedor{
        padding: var(--big-space);
        text-align: center;
    }
    
    .titulo {
        color: var(--green-color);
        font-size: var(--h1-font-size);
    }
    
    .texto {
        color: var(--green-color);
        font-size: var(--big-font-size);
    }
    
    .contenedor-img img {
        display: block;
        width: 100%;
    }
    
    .boton-enlace {
        color: var(--primary-color);
        background-color: var(--green-color);
        border-color: var(--green-color);
        font-weight: 500;
    }
}


