/*

SECCION ULTIMOS PROYECTOS

*/

.ultimos-proyectos {
    text-align: center;

    .titulo {
        color: var(--title-color);
        font-size: var(--h2-font-size);
        margin: 0;
        padding-top: var(--big-space);
        padding-bottom: var(--big-space);
    }
    
    .contenedor {
        display: grid;
        gap: var(--big-space);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);

        @media screen and (min-width: 900px) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
        }
    }

}
