/*

SECCION QUIERES TRABAJAR CON NOSOTROS

*/

.trabaja-con-nosotros {
    text-align: center;
    
    .titulo {
        color: var(--tittle-color);
        font-size: var(--h2-font-size);
    }
    
    .texto {
        color: var(--text-color);
        font-size: var(--normal-font-size);
    }
    
    .boton-enlace {
        color: var(--bg-color);
        border-color: var(--primary-color);
        background-color: var(--tittle-color);
        font-weight: 500;
    }
}
