/*

HEADER

*/

.cabecera-principal {
  position: fixed;
  height: var(--header-heigth);
  background-color: var(--bg-color-alt);
  top: 0;
  width: 100%;
  z-index: 10;

  .contenedor {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    height: var(--header-heigth);
    white-space: nowrap;
  }
  
  .logo-enlace img {
    display: block;
    height: var(--header-heigth);
  }

  /* menu despelgable */
  .menu-principal {
    display: none;
    position: relative;
    background-color: rgba(6, 80, 37, 0.8);
    z-index: 98;

    &.esta-activo {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
      
    @media screen and (min-width: 900px) {
      display: block;
      justify-content: center;
      grid-column: 3;
      background-color: inherit;

      &.esta-activo {
        display: block;
        justify-content: center;
        grid-column: 3;
        background-color: inherit;
        position: initial;
      }
    }
  }
  
  ul {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    list-style-type: none;
    
    @media screen and (min-width: 900px) {
      grid-template-columns: repeat(4, auto);
      grid-template-rows: 1fr;
      height: var(--header-heigth);
      list-style-type: none;
      border: 0;
      justify-content: space-evenly;
      align-content: center;
    }
  }   
}
