.ultimos-proyectos .proyecto {
    display: block;
    text-decoration: none;
    padding: 0;
    margin: 0;

    article {
        position: relative;
    }
    
    .titulo{
        color: var(--green-color);
        font-size: var(--h4-font-size);
        margin: 0;
        padding: var(--medium-space);
        padding-bottom: 0;
    }
    
    .texto {
        color: var(--green-color);
        font-size: var(--smaller-font-size);
    }
    
    .contenido {
        position: absolute;
        display: grid;
        gap: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primary-color-alt);
        opacity: 0;
        transition: 0.27s linear;
        align-items: center;
    }
    
    .contenido:hover {
        opacity: 1;
    }
    
    .contenido .titulo,
    .contenido .texto {
        margin: 0;
        padding: 0;
    }
    
    .contenedor-imagen {
        z-index: -10;
    }
    
    .contenedor-imagen img {
        display: block;
        width: 100%;
        height: auto;
        position: initial;
    }
}
