.todos-los-proyectos .proyecto {
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    grid-template-columns: 1fr;
    box-shadow: 0.1rem 0.1rem 0.2rem rgb(4, 184, 55);

    .contenido {
        text-align: left;
        padding-left: var(--medium-space);
        padding-right: var(--medium-space);
        background-color: rgb(13, 34, 7);
        padding-bottom: 1.5rem;
        border-radius: 0 0 1rem 1rem / 0 0 1rem 1rem;
    }
    
    .titulo {
        font-size: var(--h3-font-size);
        color: var(--tittle-color);
        padding-top: 1rem;
        padding-bottom: var(--medium-space);
    }
    
    .texto {
        font-size: var(--small-font-size);
        color: var(--text-color);
        margin-top: var(--medium-space);
        margin-bottom: 1.5rem;
    }
    
    a {
        display: inline-block;
        font-size: var(--small-font-size);
        font-weight: 500;
        letter-spacing: 0.05em;
        text-decoration: none;
        color: var(--green-color);
        margin: 0rem;
    }
    a:hover {
        text-decoration: underline;
    }
    
    .contenedor-imagen img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 1rem 1rem 0 0 / 1rem 1rem 0 0;
    }
}
