//config
@use "config/css-vars";
@use "config/base-layout";
@use "global";
//sections
@use "sections/header";
@use "sections/footer";
//pages
@use "pages/home/banner";
@use "pages/home/our-services";
@use "pages/home/about-us";
@use "pages/home/last-projects";
@use "pages/home/work-with-us";
@use "pages/who-are-we/who-are-we";
@use "pages/projects/projects";
@use "pages/contact/contact";
//cards
@use "cards/last-project";
@use "cards/project";
//buttons
@use "buttons/menu-button";