/*

SECCION NUESTROS SERVICIOS

*/

.nuestros-servicios {
    text-align: center;

    .titulo {
        color: var(--title-color);
        font-size: var(--h2-font-size);
    }
      
    .texto {
        color: var(--text-color);
        font-size: var(--small-font-size);
    }
      
    .servicio  {
        .titulo {
            color: var(--title-color);
            font-size: var(--h3-font-size);
        }

        .icono svg {
            display: block;
            width: 27%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }
      
    .contenedor {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;

        @media screen and (min-width: 900px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }
}
  