/*

FOOTER PRINCIPAL

*/

.footer-principal {
    color: var(--text-color);
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.footer-principal .texto {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: var(--smaller-font-size);
}